*.iml
.gradle
.DS_Store
.externalNativeBuild
.cxx
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.settings
/.well-known
/app-release.aab
/app/firebase.properties
/app/auth.properties
/app/build
/app/release
/build
/captures
/songarchivexplugin/build
/util
/web/admin/.htpasswd
/web/chords.zip
/web/db_config.php
