<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="de.jeisfeld.songarchive.PERMISSION_COMMUNICATE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="MissingApplicationIcon" >

        <receiver android:name=".PluginReceiver"
            android:exported="true"
            android:permission="de.jeisfeld.songarchive.PERMISSION_COMMUNICATE"
            >
            <intent-filter>
                <action android:name="de.jeisfeld.songarchivexplugin.ACTION_VERIFY" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".PluginContentProvider"
            android:authorities="de.jeisfeld.songarchivexplugin.provider"
            android:exported="true"
            android:permission="de.jeisfeld.songarchive.PERMISSION_COMMUNICATE" />

    </application>

</manifest>